/* Temel Renkler ve Değişkenler */
:root {
  --primary-color: #5a67d8; /* Modern mavi */
  --secondary-color: #2d3748; /* Koyu gri */
  --text-color: #2d3748; /* Temel metin rengi */
  --background-color: #edf2f7; /* Açık gri arka plan rengi */
  --accent-color: #f56565; /* Modern kırmızı */
  --hover-color: #4a56e2; /* Hover rengi için mavi ton */
}

/* Genel Stiller */
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-color);
}

/* Başlık Stilleri */
header {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#businessLogo {
  display: block;
  margin-right: 20px;
  max-width: 100%;
  height: 180px;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  transition: transform 0.3s ease;
}

header:hover h1 {
  transform: translateX(10px);
}

/* Bölüm Stilleri */
section {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

section:hover {
  background-color: var(--background-color);
}

/* Tablo Stilleri */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--secondary-color);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--primary-color);
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: var(--background-color);
}

/* İframe Stilleri */
iframe {
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 8px;
}

/* Footer Stilleri */
footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

a,
button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a:hover,
button:hover {
  background-color: var(--hover-color);
}

/* Form Stilleri */
form {
  margin-top: 20px;
}

table {
  width: 60%;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin: 0 auto;
}

td {
  vertical-align: top;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--hover-color);
}
